"*":
  editor:
    fontFamily: "\"Ricty Diminished\""
    showInvisibles: true
    softWrap: true
    invisibles: {}
    fontSize: 15
  core:
    disabledPackages: [
      "ruby-string-interpolation"
      "go-plus"
      "ruby-slim"
      "language-scala"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "4ff845b6-6109-cf78-0a00-0a08438a946b"
  welcome:
    showOnStartup: false
  metrics:
    userId: "a619b0cf772828e1afd5021f5f942ffbb7c3fa66"
  docblockr: {}
".slim.text":
  editor:
    showInvisibles: true
editor:
  fontFamily: "Migu 2M"
  fontSize: 15
metrics:
  userId: "08ec762590e6b97592055b97d9546dd510d808cd"
welcome:
  showOnStartup: false
"exception-reporting":
  userId: "dd356586-7bc2-a0aa-3ddd-008f73853305"
